<nav class="navbar navbar-light bg-light">
  <div>
    <h2>Add a new list</h2>
  </div>
  <div>
    <%= link_to "Back", lists_path, class:'btn btn-outline-primary' %>
  </div>
</nav>

<%= simple_form_for(@list) do |f| %>
  <div class="form-inputs m-3">
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
  </div>
  <div class="form-actions btn btn-primary m-3">
    <%= f.button :submit, class:'btn', style:'color: white' %>
  </div>
<% end %>
