<div class="banner mb-3" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @list.photo.key, crop: :fill %>);">
  <div class="container">
    <h1><%= @list.name %></h1>
  </div>
</div>

<div class="card-trip">
  <% @list.bookmarks.each do |bookmark| %>
  <img src="https://source.unsplash.com/collection/190727/1600x900" />
  <div class="card-trip-infos">
    <div>
        <%= bookmark.movie.title %> 
    </div>
    Comment: <%= bookmark.comment %>
    <%= link_to "Destroy bookmark", bookmark_path(bookmark), method: :delete, data: { confirm: "Are you sure?" } %> </p> 
  </div>
  <% end %>
</div>


<p class="footer"><%= link_to "Back", lists_path %> | <%= link_to "Add a bookmark", new_list_bookmark_path(@list) %></p>
